/* https://colorhunt.co/palette/15830 */
/* https://colorhunt.co/palette/201830 */
.title {  
  /* text-align: right; */
  padding: 3% 15% 7%;
  font-weight: 500;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.titleImg {
  position: absolute;
  left: 15%;
  top: 15%;
  border-radius: 100%;
  background: #f6f5f5;
}

.titleHello{
 font-size: 3rem;
 letter-spacing: 0;
}

.titleBig{
  font-weight: bold;  
  font-size: 6rem;
  right: 0px;
  letter-spacing: 1px;
}

.description {
  letter-spacing: 0.2rem
}

.downloadButton{
  margin: 5% 8% 5% 0;
  /* background: #4e89ae; */
  background: #43658b;
  border-color: #43658b;
}

.downloadButton:hover {
  background: #ed6663;
  border-color: #ed6663;
}

.downloadButton:focus{
  background: #ed6663;
  border-color: #ed6663;
}

@media (max-width: 768px) {  
  
  .titleImg {
    position: relative;
    left: 28%;
    top: 5%;
    border-radius: 100%;
    width: 200px;
    height: 200px;

  }

}