.title{
  margin: 1% 15px 15px ;
  font-size: 1.3rem;
}

.seperator{
  padding: 0 10px;
  color: #3fc1c9;
}


.date{
  font-size: 1rem;
  font-weight: 300;
  padding-left: 10px;
  color: #43658b;
}

.description{
  width: 70%;
  margin: 10px 15px 50px;
  text-align: left;
}