.NavItem{
    padding: 0 20px; 
   
}

.NavLink{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    color: #41444b;
}

.NavLink:hover{
    color: #ed6663;
    text-decoration: underline;
}