.NavBar{
    padding: 15px 15% 10px;
    font-family: 'Montserrat', sans-serif;
    color: #41444b;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.NavBarBrand{   
    font-weight: 500;   
    color: #41444b; 
}

