body {
  font-family: 'Quicksand', sans-serif;  
  background-color: #fCfCfC;
  color: #41444b;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  /* color: #43658b; */
  color: #333333;
}

p {
  color: #535457;
}